body {
  background-color: rgba(234, 197, 234, 0.548);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h1 {
  color: purple;
  font-size: 35px;
}

.submit {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

.error-msg {
  color: red;
  font-size: 12px;
}
